flytekit
flyteidl
streamlit
geopy
joblib
pandas
pandera
requests
sklearn
timezonefinder
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
mistune>=2.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
